@import "tailwindcss";

:root {
  --white: white;
  --black: black;
  --baseBackground: #f4f4f4;
  --baseLight: #f4f4f4;
  --baseDark: #1e1e1e;
  --navColor: #f64949;
  --darkNav: red;
}

[data-theme="dark"] {
  --white: black;
  --black: white;
  --baseLight: #1e1e1e;
  --baseDark: #f4f4f4;
  --navColor: #57c76b;
  --darkNav: green;
}

/* All pages */
.site-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 4rem;
  padding-right: 2rem;
  padding-top: 2rem;
}
main {
  padding: 30px 30px;
}
body {
  background: var(--baseLight);
  color: var(--baseDark);
  font-family: monospace;
}

header {
  padding: 10px 0;
}

.logo-holder {
  display: flex;
  padding: 10px;
  align-items: center;
  font-weight: 300; 
  width: 100%;
}
.logo-holder .logo {
  margin-right: 30px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.logo-holder .logo-text {
  margin-bottom: 50px;
  font-size: 30;
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-top: 15px;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  position: relative;
  align-items: center;
  margin: 0 12px;
  color: var(--navColor);
}
nav ul li:hover {
  color: var(--darkNav);
  font-weight: 500;
  text-decoration: underline;
}
nav ul li:first-child {
  margin-left: 0;
}
nav ul li::before {
  content: "|";
  position: absolute;
  left: -15px;
  color: var(--navColor);
}
nav ul li:first-child::before {
  content: "";
}

.dark-button {
  color: var(--baseDark);
  margin-left: auto;
}
.dark-button button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  transition: all 0.2s ease;
  border-radius: 6px;
}
.dark-button button:hover {
  border: 2px solid var(--baseDark);
}

/* Home */
.container {
  padding-bottom: 50px;
}
h1 {
  font-size: 30;
  font-weight: bold;
  padding-bottom: 30px;
}
p {
  font-size: 20;
  padding-bottom: 30px;
}
.icons {
  padding-bottom: 30px;
  display: flex;
  gap: 20px;
  color: var(--baseDark);
}

/* TIMELINE FAR AWAY

.timeline {
  position: relative;
  padding-left: 40px;
  list-style: none;
}
.timeline-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 10px;
}
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px; 
  width: 1px;
  background-color: #ccc;
}
.timeline-item::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -32px; 
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border-radius: 50%;
}
.timeline-date {
  font-size: 14px;
  color: #888;
  margin-bottom: 4px;
  display: block;
}
.timeline-title {
  font-weight: 600;
  font-size: 16px;
  color: var(--baseDark);
}
.timeline-place {
  font-size: 15px;
  color: #666;
} */

.timeline {
  position: relative;
  padding-left: 20px;
  list-style: none;
}
.timeline-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 10px;
}
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px; 
  width: 1px;
  background-color: #ccc;
}
.timeline-item::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -12px; 
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border-radius: 50%;
}
.timeline-date {
  font-size: 14px;
  color: #888;
  margin-bottom: 4px;
  display: block;
}
.timeline-title {
  font-weight: 600;
  font-size: 16px;
  color: var(--baseDark);
}
.timeline-place {
  font-size: 15px;
  color: #666;
}

/* Research */