@import "tailwindcss";

:root {
  --white: white;
  --black: black;
  --baseLight: #f4f4f4;
  --baseDark: #1e1e1e;
  --navColor: #f64949;
  --darkNav: red;
}

[data-theme="dark"] {
  --white: black;
  --black: white;
  --baseLight: #1e1e1e;
  --baseDark: #f4f4f4;
  --navColor: #57c76b;
  --darkNav: green;
}

/* All pages */
.site-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 4rem;
  padding-right: 2rem;
  padding-top: 2rem;
}
main {
  padding: 30px 30px;
}
body {
  background: var(--baseLight);
  color: var(--baseDark);
  font-family: monospace;
}

header {
  padding: 10px 0;
}

.logo-holder {
  display: flex;
  padding: 10px;
  align-items: center;
  font-weight: 300; 
  width: 100%;
}
.logo-holder .logo {
  margin-right: 30px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.logo-holder .logo-text {
  margin-bottom: 50px;
  font-size: 30;
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-top: 15px;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  position: relative;
  align-items: center;
  margin: 0 12px;
  color: var(--navColor);
}
nav ul li:hover {
  color: var(--darkNav);
  font-weight: 500;
  text-decoration: underline;
}
nav ul li:first-child {
  margin-left: 0;
}
nav ul li::before {
  content: "|";
  position: absolute;
  left: -15px;
  color: var(--navColor);
}
nav ul li:first-child::before {
  content: "";
}

.nav-buttons {
  position: absolute;
  top: 80px;
  right: 100px;
  display: flex;
  gap: 12px;
  color: var(--baseDark);
  z-index: 1000;
}
.nav-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  transition: all 0.2s ease;
  border-radius: 6px;
}
.nav-buttons button:hover {
  border: 2px solid var(--baseDark);
}
.nav-buttons .mobile-toggle {
  display: none;
}

@media (max-width: 768px) {
  main {
    padding: 5px 5px;
  }
  nav {
    width: 100%;
    justify-content: flex-end;
  }
  nav ul {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: var(--baseLight);
    padding: 20px 0px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }
  nav ul.active {
    display: flex;
  }
  nav ul li a {
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
  }
  nav ul li::before {
    display: none;
  }
  nav ul li:first-child::before {
    display: none;
  }

  .nav-buttons {
    top: 10px;
    right: 10px;
    gap: 8px;
  }
  .nav-buttons .mobile-toggle {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  .nav-buttons button:hover {
    border: none;
  }
}

/* Home */
.container {
  padding-bottom: 50px;
}
h1 {
  font-size: 30;
  font-weight: bold;
  padding-bottom: 30px;
}
p {
  font-size: 20;
  padding-bottom: 30px;
}
.icons {
  padding-bottom: 30px;
  display: flex;
  gap: 20px;
  color: var(--baseDark);
}

.timeline {
  position: relative;
  padding-left: 20px;
  list-style: none;
}
.timeline-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 10px;
}
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px; 
  width: 1px;
  background-color: #ccc;
}
.timeline-item::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -12px; 
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border-radius: 50%;
}
.timeline-date {
  font-size: 14px;
  color: #888;
  margin-bottom: 4px;
  display: block;
}
.timeline-title {
  font-weight: 600;
  font-size: 16px;
  color: var(--baseDark);
}
.timeline-place {
  font-size: 15px;
  color: #666;
}

@media (max-width: 768px) {
  .container {
    padding-bottom: 30px;
  }
  .site-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }

  .logo-holder {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative; 
  }

  .logo-holder .logo {
    height: 80px;
    width: 80px;
    margin-right: 0;
  }

  .logo-holder .logo-text {
    font-size: 24px;
  }

  nav ul {
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
  }

  nav ul li::before {
    content: "-" 
  }
  nav ul li:first-child::before {
    content: "-";
  }

  .nav-button {
    position: absolute;
    top: 10px; 
    right: 10px; 
    margin-left: 0;
  }
  
  h1 {
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }
}

/* Research */
.research-entry {
  margin-bottom: 40px;
}
.research-entry p {
  padding-bottom: 0px;
}
.research-content {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  flex-wrap: wrap;
}
.research-content.reverse {
  flex-direction: row-reverse;
}
.research-image {
  width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  flex-shrink: 0;
}
.research-text {
  flex: 1;
  min-width: 280px;
  padding-top: 30px;
}
.research-title {
  font-size: 18px;
  color: var(--navColor);
  font-weight: bold;
}
.research-author {
  font-style: italic;
  font-size: 14px;
}
.research-type {
  font-size: 14px;
  font-weight: bold;
}
.research-description {
  background-color: var(--baseLight);
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  max-width: 600px;
  margin-bottom: 7px;
}

@media (max-width: 768px) {
  .research-text {
    order: 1;
  }
  .research-image {
    order: 2;
  }
}